@charset "UTF-8";
@import "ri_register.css";

/* CSS-Ansicht für die Überprüfung der Register für die Regesta-Imperii-Arbeitsumgebung
 * 
 * Berlin-Brandenburgische Akademie der Wissenschaften
 * TELOTA - The electronic life of the academy
 * @author:     Stefan Dumont, dumont@bbaw.de
 * @changed:    14-08-2013
 */

Stufe0[checked="no"],
Stufe1[checked="no"], 
Stufe2[checked="no"], 
Stufe3[checked="no"], 
Stufe4[checked="no"], 
Stufe5[checked="no"], 
Stufe6[checked="no"] {
    background-color: #EAB9B9;
}

Stufe0[checked="no"]:after,
Stufe1[checked="no"]:after, 
Stufe2[checked="no"]:after, 
Stufe3[checked="no"]:after, 
Stufe4[checked="no"]:after, 
Stufe5[checked="no"]:after, 
Stufe6[checked="no"]:after {
    content: " (Eingetragen von: " attr(cruser) ")";
    color: red;
}

nr:not([type]):not([source_type]) {
    background-color: FireBrick;
}

[typ="ort"] nr:after {
    content: oxy_popup(
    edit, "@type",
    values, "austOrt,verlOrt,datOrt,empfaenger,beguenst,nennung",
    labels, "Ausstellungsort,verliehener Ort,Datierungsort,Empfänger,Begünstigter,Nennung",
    selectionMode,multiple,
    rendererSeparator, ",",
    visible,true,
    columns,1);
}

[typ="sache"] nr:after {
    content: oxy_popup(
    edit, "@type",
    values, "beguenst,intervenient,petent,zeuge,nennung",
    labels, "Begünstigter,Intervenient,Petent,Zeuge,Nennung",
    selectionMode,multiple,
    rendererSeparator, ",",
    visible,true,
    columns,1);
}

[typ="person"] nr:after {
    content: oxy_popup(
    edit, "@type",
    values, "empfaenger,beguenst,p_tot,p_komment,intervenient,petent,zeuge,nennung",
    labels, "Empfänger,Begünstigter,Person ist tot, Person ist im Kommentarteil,Intervenient,Petent,Zeuge,Nennung",
    selectionMode,multiple,
    rendererSeparator, ",",
    visible,true,
    columns,1);
}