@charset "UTF-8";
@import "ri_register.css";

/* CSS-Ansicht der Register (mit Typ bei jedem Eintrag) für die Regesta-Imperii-Arbeitsumgebung
 * 
 * Berlin-Brandenburgische Akademie der Wissenschaften
 * TELOTA - The electronic life of the academy
 * @author:     Stefan Dumont, dumont@bbaw.de
 * @changed:    08-08-2018
 */

idno {
    display: block;
}

idno[type=gnd]:before {
    content: "GND: ";
    link: "https://d-nb.info/gnd/" oxy_xpath("string(.)");
    color: gray;
}

idno[type=gsn]:before {
    content: "GSN: ";
    link: "http://personendatenbank.germania-sacra.de/index/gsn/" oxy_xpath("string(.)");
    color: gray;
}

idno[type=geonames]:before {
    content: "GeoNames: ";
    link: "https://www.geonames.org/" oxy_xpath("string(.)");
    color: gray;
}

idno[type=getty]:before {
    content: "Getty-ID: ";
    link: "http://www.getty.edu/art/collection/objects/" oxy_xpath("string(.)");
    color: gray;
}

idno[type=klosterdb]:before {
    content: "Klosterdb-ID: ";
    link: "https://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/germania-sacra/klosterdatenbank/datenbankabfrage/gsn/" oxy_xpath("string(.)");
    color: gray;
}

idno[type=wikidata]:before {
    content: "Wikidata: ";
    link: "https://www.wikidata.org/w/index.php?uselang=de&title=" oxy_xpath("string(.)");
    color: gray;
}

*[lon] > Inhalt:before {
    content: "Koordinaten: " oxy_xpath("parent::*/@lat") ", " oxy_xpath("parent::*/@lon");
    display: block;
}